{
  "extends": ["react-app"],
  "plugins": ["import"],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".*"],
        "paths": [
          {
            "name": "react",
            "importNames": ["default"],
            "message": "import React from 'react' makes bundle size larger."
          }
        ]
      }
    ],
    "import/order": [
      "error",

      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling"],
          "index",
          "object",
          "type",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "@/{hooks,utils,lib}/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/pages/**",
            "group": "internal"
          },
          {
            "pattern": "@/components/**",
            "group": "internal"
          },
          {
            "pattern": "@/state/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "**/*.css",
            "group": "unknown",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          // "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
